name: Test Mirror APIs (PR)

on:
  pull_request:
    branches:
      - main
    paths:
      - operators.yaml

jobs:
  mirror-test:
    name: mirror-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR head
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'

      - name: Run mirrorer
        run: make mirror
